<!-- <div class="row">
  <div *ngFor="let user of users" class="col-lg-2 col-md-3 col-sm-6">
    <app-member-card [user]="user"></app-member-card>
  </div>
</div> -->

<table class="table table-hover table-bordered table-sm ">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Gender</th>
      <th scope="col">Email Id</th>
      <th scope="col">Age</th>
      <th scope="col">Designation</th>
      <th scope="col">Date Of Birth</th>
      <th scope="col">Active</th>
      <th>
        
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td (click)="populateForm(employee)">{{employee.firstName}}</td>
      <td (click)="populateForm(employee)">{{employee.lastName}}</td>
      <td (click)="populateForm(employee)">{{employee.gender}}</td>
      <td (click)="populateForm(employee)">{{employee.emailId}}</td>
      <td (click)="populateForm(employee)">{{employee.age}}</td>
      <td (click)="populateForm(employee)">{{employee.designationName}}</td>
      <td (click)="populateForm(employee)">{{employee.dateOfBirth | date : 'mediumDate'}}</td>
      <td (click)="populateForm(employee)">{{employee.isActive?'Yes': 'No'}}</td>
      <td>
        <a class="btn btn-sm btn-info text-white" (click)="openForEdit(employee)"><i class="fa fa-pencil"></i></a>
      </td>
      <!-- <td>
        <i class="far fa-trash-alt fa-lg text-danger"></i>
      </td> -->
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-center">
  <pagination
      [boundaryLinks]="true"
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerPage"
      [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;" 
      nextText="&rsaquo;" 
      firstText="&laquo;" 
      lastText="&raquo;">
  </pagination>
</div>
